// 課程列表的愛心是引用課程列表的scss

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}

.card-img:hover .favorite-icon {
  opacity: 1 !important;
  transform: scale(1.1);
}
