.cartButton {
  margin-top: 10px;
  background-color: #e58e41;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 3px 15px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  color: white;
  z-index: 1;
  width: 40%;
  height: 35px;
}

.show {
  opacity: 1;
  visibility: visible;
}

.swalPopupAdjust {
  margin-top: 80px !important;
}

@media (max-width: 391px) {
  .cartButton {
    width: 80%;
    height: 25px;
    font-size: 12px;
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
  }
}
