.course-detail-container {
  margin-top: 100px;
}

.course-detail-title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 1rem 0 1rem 0;
}

.title-block {
  width: 8px;
  height: 35px;
  background-color: var(--primary-color);
}

.course-detail-title h2 {
  color: var(--primary-color);
  font-size: 1.3rem;
  margin: 0;
}

.line {
  margin-top: 1rem;
  width: 100%;
  border-bottom: 2px solid var(--line-color-gray-light2);
}

@media screen and (max-width: 768px) {
  // body {
  //   background-color: var(--bg-color-gray);
  // }

  .course-detail-container {
    padding: 2rem 0;
    background-color: var(--white);
    margin-top: 0;
  }

  .course-detail h1 {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  /* 上方課程簡介 */
  .course-info {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 567px) {
  .course-detail-container{
    padding: 1.5rem 16px;
  }
  .container {
    margin: 0;
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
  .course-detail-title {
    display: block;
    margin: 0;
  }
  .title-block {
    display: none;
  }
}
