.y-ad-card {
  margin: auto;
  max-width: 300px;
  background-color: #d9d9d9;
  text-align: start;
  padding-top: 20px;
}

.y-ad-card img {
  max-width: 270px;
  height: 210px;
  margin: 0 auto;
  object-fit: cover;
  display: block;
  background-color: #ffffff;
}

.y-ad-card .product-info {
  padding: 15px;
}

.y-ad-card .product-title {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

// .y-ad-card .product-subtitle {
//   font-size: 14px;
//   color: #777;
//   margin-bottom: 5px;
// }

.y-ad-card .product-price {
  font-size: 16px;
  // font-weight: bold;
  color: #313131;
}

/* 按鈕樣式 */
.y-ad-card .buy-button {
  width: 100%;
  padding: 5px 0;
  background-color: #00000000;
  border: 5px solid #000;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}
