.j-page-wrapper{
  min-height: 93vh;
}

.j-heightspace{
  padding: 3.0rem;
}
.j-cartTitle{
  background-color: #003150;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
}

.j-input-box{
  background-color: #fff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.j-nextBox{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.j-itemBox{
  background-color: #f6f6f6;
  border-radius: 20px;
  color: #fff;
}

.j-cartItemsBox {
  margin-top: 3.7rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px){
  .j-bodyHeight{
    height: auto;
  }
}
@media (max-width: 390px) {
  .j-cartItemsBox {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .j-lessonImg img {
    width: auto;
  }

  .payStep {
    width: auto;
  }
}